html { overflow:  hidden; }
body {margin: 0px;}

#log {
height: 74px;
margin: 0 auto;
margin-top: 80px;
width: 468px;
font: 8pt 'Palatino Linotype';
overflow: auto;
}
#input {
width: 74%;
margin-left: 80px;
background-color: rgba(43, 41, 41, 0.36);
color: #fff;
}
#send {
width: 50px;
position: absolute;
right: 58px;
background-color: rgba(116, 116, 116, 0.44);
color: #fff;
}

.in {
    color: rgb(194, 194, 194);
}
.out {
    color: rgb(194, 194, 194);
}
.time {
    color: rgb(65, 150, 116);
    font: 10pt 'Courier New';
}
.sys {
   color: rgb(199, 199, 199);
}
.user {
    color: rgb(91, 163, 137);
}
.chat{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.blue_win img{
    position: absolute;
z-index: 5;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
margin: auto;
display:none;
}

.red_win img{
    position: absolute;
z-index: 5;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
margin: auto;
display:none;
}

.reg_text{
    
    
}
.game_canvas{
    position:absolute;
    top:0px;
    left:0px;
}

.blue_score{
    position: absolute;
top: 105px;
left: 62px;
color: #9F9BFA;
font-size: 30px;
}
.red_score{
    position: absolute;
top: 11px;
right: 30px;
color: #F06363;
font-size: 30px;
}
.hp_bar{
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
height: 32px;
border-radius: 6px;
background-color: #B30A18;
z-index: 1;
}

.hp_max_bar{
position: absolute;
bottom: 28px;
left: 1px;
width: 213px;
border-radius: 38px;
overflow: hidden;
height: 25px;
z-index: 1;
}

.tired_bar{
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
height: 17px;
border-radius: 4px;
background-color: #D8BB61;
z-index: 1;
}

.tired_max_bar{
position: absolute;
bottom: 8px;
left: 5px;
width: 240px;
border-radius: 10px;
height: 17px;
z-index: 1;
}

.arrow{
width: 100px;
height: 100px;
position: absolute;
background-color: rgba(53, 53, 53, 0.33);
}
.joystick{
position: fixed;
bottom: 100px;
height: 300px;
width: 300px;
z-index: 5;
left: 30px;
}
.arr_hit{
position: fixed;
right: 30px;
bottom: 180px;
width: 150px;
height: 150px;
background-color: rgba(53, 53, 53, 0.33);
}

.choose_team{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(14, 20, 0, 1);
z-index: 5;
background-image: url('/theme/enter.png');
background-size: auto 100%;
background-position-x: 50%;
background-repeat: no-repeat;
}

.red_team{
position: fixed;
left: 50%;
top: 0;
bottom: 0;
right: 0;
cursor: pointer;

color: transparent;
    -webkit-transition: background 1s ease;
}
.blue_team{
position: fixed;
left: 0;
top: 0;
bottom: 0;
right: 50%;
cursor: pointer;
color: transparent;
    -webkit-transition: background 1s ease;
}

.red_team:hover{
    -webkit-transition: background 1s ease;
    background-color: rgba(248, 6, 38, 0.1);
    
color: #DE000E;
}

.blue_team:hover{
    -webkit-transition: background 1s ease;
    background-color: rgba(0, 7, 255, 0.1);
    
color: #0000DE;
}

.choose_unit{
margin: auto;
width: 900px;
background-color: rgba(0, 0, 0, 0.61);
height: 600px;
border: 2px solid;
border-color: rgba(158, 158, 158, 0.53);
display: none;
}
.in_unit{
    float:left;
}

.stat_unit{
    float: right;
width: 738px;
background-color: rgba(182, 182, 182, 0.21);
height: 79px;
padding: 10px;
border: 2px solid;
border-color: #131313;
}
.name_unit{
      float:left;
}

.select_unit{
position: relative;
width: 850px;
height: 105px;
padding: 8px;
margin: 8px;
border: 2px solid;
border-color: #999999;
cursor: pointer;
color: #ccc;
margin-left: 17px;
}
.select_unit:hover{
background-color: rgba(255, 255, 255, 0.3);
border-radius: 3px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.hp_tired_block{
position: fixed;
left: 0px;
bottom: 0px;
width: 300px;
height: 71px;
}

.hovering_layer_hp_tired{
position: fixed;
left: 0px;
bottom: 0px;
width: 335px;
height: 150px;
background-image: url('/theme/old/1.png');
background-size: 375px;
background-repeat: no-repeat;
z-index: 2;
}

.chat_block{
position: fixed;
bottom: 0px;
left: 300px;
width: 723px;
height: 179px;
background-image: url('/theme/old/3.png');
background-size: 740px;
background-repeat: no-repeat;
padding: 2px;
}

.stat_block{
position: fixed;
right: 0px;
bottom: 0px;
width: 400px;
height: 200px;
background-image: url('/theme/old/2.png');
background-size: 400px;
background-repeat: no-repeat;
}

.hide_chat{
position: absolute;
left: 47%;
width: 56px;
height: 48px;
top: 31px;
cursor: pointer;
}

.map_block{
position: fixed;
left: 0px;
top: 0px;
width: 300px;
height: 170px;
background-image: url('/theme/old/4.png');
background-size: 300px;
background-repeat: no-repeat;
}

.score_block{
position: fixed;
right: 0px;
top: 0px;
width: 190px;
height: 190px;
background-image: url('/theme/old/5.png');
background-size: 190px;
background-repeat: no-repeat;
}

.preloader img{
position: absolute;
z-index: 5;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}

.change_interface{
position: relative;
float: left;
width: 40px;
font-size: 10px;
color: #252118;
margin: 2px;
padding: 2px;
background-color: rgba(26, 25, 25, 0.25);
text-align: center;
margin-top: 63px;
cursor: pointer;
    
}